In [51]:
import pandas as pd

In [52]:
import numpy as np

In [6]:
%ls Data/datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [8]:
df=pd.read_csv("Data/datasets/census.csv")

In [10]:
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [12]:
df.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,...,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000
mean,49.840276,2.668650,5.191356,30.259004,101.918572,1.933871e+05,1.933969e+05,1.937657e+05,1.952514e+05,1.967445e+05,...,-1.639167,-2.528381,-1.288083,-2.271925,-1.362607,-0.655205,-1.445775,-0.200419,-1.038960,-0.096759
std,1.253884,0.807513,1.973991,15.153897,107.626583,1.176201e+06,1.176244e+06,1.178710e+06,1.189648e+06,1.200508e+06,...,10.407267,11.871798,12.186844,11.440505,12.301558,10.613259,12.228155,12.200064,11.471743,12.265772
min,40.000000,1.000000,1.000000,1.000000,0.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.000000,2.000000,4.000000,18.000000,33.000000,1.129900e+04,1.129900e+04,1.127500e+04,1.127700e+04,1.119500e+04,...,-6.153101,-7.561799,-6.323058,-7.357497,-6.696825,-5.354221,-6.851764,-5.426357,-6.221820,-5.553088
50%,50.000000,3.000000,5.000000,29.000000,77.000000,2.642400e+04,2.644600e+04,2.646700e+04,2.641700e+04,2.636200e+04,...,-1.544618,-2.549859,-1.771445,-1.988101,-2.026566,-0.626174,-1.537988,-0.788296,-0.911948,-0.872527
75%,50.000000,3.000000,7.000000,45.000000,133.000000,7.140400e+04,7.149100e+04,7.172100e+04,7.238700e+04,7.249600e+04,...,2.901204,2.626611,3.392786,3.333927,3.794291,4.062151,3.962629,4.700873,4.580444,5.013928
max,50.000000,4.000000,9.000000,56.000000,840.000000,3.725396e+07,3.725450e+07,3.733408e+07,3.770003e+07,3.805606e+07,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [31]:
pd.pivot_table(df,
               index= ['STNAME','CTYNAME'],
               aggfunc= ['mean','median'],
               values= ['BIRTHS2010','BIRTHS2011'],
               margins= True,
               columns= 'SUMLEV'
              )

                                 mean                                          \
                           BIRTHS2010                              BIRTHS2011
SUMLEV                             40          50           All            40
STNAME  CTYNAME
Alabama Alabama          14226.000000         NaN  14226.000000  59689.000000
        Autauga County            NaN  151.000000    151.000000           NaN
        Baldwin County            NaN  517.000000    517.000000           NaN
        Barbour County            NaN   70.000000     70.000000           NaN
        Bibb County               NaN   44.000000     44.000000           NaN
...                               ...         ...           ...           ...
Wyoming Uinta County              NaN   73.000000     73.000000           NaN
        Washakie County           NaN   26.000000     26.000000           NaN
        Weston County             NaN   26.000000     26.000000           NaN
        Wyoming           1995.000000         NaN   1995.000000   7471.000000
All                      19369.333333  314.397199    618.751018  77911.470588

                                                       median                \
                                                   BIRTHS2010
SUMLEV                            50           All         40     50    All
STNAME  CTYNAME
Alabama Alabama                  NaN  59689.000000    14226.0    NaN  14226
        Autauga County    636.000000    636.000000        NaN  151.0    151
        Baldwin County   2187.000000   2187.000000        NaN  517.0    517
        Barbour County    335.000000    335.000000        NaN   70.0     70
        Bibb County       266.000000    266.000000        NaN   44.0     44
...                              ...           ...        ...    ...    ...
Wyoming Uinta County      324.000000    324.000000        NaN   73.0     73
        Washakie County   108.000000    108.000000        NaN   26.0     26
        Weston County      81.000000     81.000000        NaN   26.0     26
        Wyoming                  NaN   7471.000000     1995.0    NaN   1995
All                      1264.635582   2488.872534    13752.0   76.0     78


                        BIRTHS2011
SUMLEV                          40      50    All
STNAME  CTYNAME
Alabama Alabama            59689.0     NaN  59689
        Autauga County         NaN   636.0    636
        Baldwin County         NaN  2187.0   2187
        Barbour County         NaN   335.0    335
        Bibb County            NaN   266.0    266
...                            ...     ...    ...
Wyoming Uinta County           NaN   324.0    324
        Washakie County        NaN   108.0    108
        Weston County          NaN    81.0     81
        Wyoming             7471.0     NaN   7471
All                        55313.0   304.0    311

[3193 rows x 12 columns]

In [23]:
x=df.columns.tolist()
x.sort()
x

['BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'CENSUS2010POP',
 'COUNTY',
 'CTYNAME',
 'DEATHS2010',
 'DEATHS2011',
 'DEATHS2012',
 'DEATHS2013',
 'DEATHS2014',
 'DEATHS2015',
 'DIVISION',
 'DOMESTICMIG2010',
 'DOMESTICMIG2011',
 'DOMESTICMIG2012',
 'DOMESTICMIG2013',
 'DOMESTICMIG2014',
 'DOMESTICMIG2015',
 'ESTIMATESBASE2010',
 'GQESTIMATES2010',
 'GQESTIMATES2011',
 'GQESTIMATES2012',
 'GQESTIMATES2013',
 'GQESTIMATES2014',
 'GQESTIMATES2015',
 'GQESTIMATESBASE2010',
 'INTERNATIONALMIG2010',
 'INTERNATIONALMIG2011',
 'INTERNATIONALMIG2012',
 'INTERNATIONALMIG2013',
 'INTERNATIONALMIG2014',
 'INTERNATIONALMIG2015',
 'NATURALINC2010',
 'NATURALINC2011',
 'NATURALINC2012',
 'NATURALINC2013',
 'NATURALINC2014',
 'NATURALINC2015',
 'NETMIG2010',
 'NETMIG2011',
 'NETMIG2012',
 'NETMIG2013',
 'NETMIG2014',
 'NETMIG2015',
 'NPOPCHG_2010',
 'NPOPCHG_2011',
 'NPOPCHG_2012',
 'NPOPCHG_2013',
 'NPOPCHG_2014',
 'NPOPCHG_2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'RBIRTH2011',
 'RBIRTH2012',
 'RBIRTH2013',
 'RBIRTH2014',
 'RBIRTH2015',
 'RDEATH2011',
 'RDEATH2012',
 'RDEATH2013',
 'RDEATH2014',
 'RDEATH2015',
 'RDOMESTICMIG2011',
 'RDOMESTICMIG2012',
 'RDOMESTICMIG2013',
 'RDOMESTICMIG2014',
 'RDOMESTICMIG2015',
 'REGION',
 'RESIDUAL2010',
 'RESIDUAL2011',
 'RESIDUAL2012',
 'RESIDUAL2013',
 'RESIDUAL2014',
 'RESIDUAL2015',
 'RINTERNATIONALMIG2011',
 'RINTERNATIONALMIG2012',
 'RINTERNATIONALMIG2013',
 'RINTERNATIONALMIG2014',
 'RINTERNATIONALMIG2015',
 'RNATURALINC2011',
 'RNATURALINC2012',
 'RNATURALINC2013',
 'RNATURALINC2014',
 'RNATURALINC2015',
 'RNETMIG2011',
 'RNETMIG2012',
 'RNETMIG2013',
 'RNETMIG2014',
 'RNETMIG2015',
 'STATE',
 'STNAME',
 'SUMLEV']

In [29]:
df['BIRTHS2010'].describe()

count      3193.000000
mean        618.751018
std        3838.926925
min           0.000000
25%          31.000000
50%          78.000000
75%         216.000000
max      123324.000000
Name: BIRTHS2010, dtype: float64

In [46]:
adf= pd.read_csv('Data/datasets/airline_data.csv',low_memory=False)

In [47]:
adf.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=110)

In [53]:
adf.columns.tolist()
x.sort()
x

['BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'CENSUS2010POP',
 'COUNTY',
 'CTYNAME',
 'DEATHS2010',
 'DEATHS2011',
 'DEATHS2012',
 'DEATHS2013',
 'DEATHS2014',
 'DEATHS2015',
 'DIVISION',
 'DOMESTICMIG2010',
 'DOMESTICMIG2011',
 'DOMESTICMIG2012',
 'DOMESTICMIG2013',
 'DOMESTICMIG2014',
 'DOMESTICMIG2015',
 'ESTIMATESBASE2010',
 'GQESTIMATES2010',
 'GQESTIMATES2011',
 'GQESTIMATES2012',
 'GQESTIMATES2013',
 'GQESTIMATES2014',
 'GQESTIMATES2015',
 'GQESTIMATESBASE2010',
 'INTERNATIONALMIG2010',
 'INTERNATIONALMIG2011',
 'INTERNATIONALMIG2012',
 'INTERNATIONALMIG2013',
 'INTERNATIONALMIG2014',
 'INTERNATIONALMIG2015',
 'NATURALINC2010',
 'NATURALINC2011',
 'NATURALINC2012',
 'NATURALINC2013',
 'NATURALINC2014',
 'NATURALINC2015',
 'NETMIG2010',
 'NETMIG2011',
 'NETMIG2012',
 'NETMIG2013',
 'NETMIG2014',
 'NETMIG2015',
 'NPOPCHG_2010',
 'NPOPCHG_2011',
 'NPOPCHG_2012',
 'NPOPCHG_2013',
 'NPOPCHG_2014',
 'NPOPCHG_2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'RBIRTH2011',
 'RBIRTH2012',
 'RBIRTH2013',
 'RBIRTH2014',
 'RBIRTH2015',
 'RDEATH2011',
 'RDEATH2012',
 'RDEATH2013',
 'RDEATH2014',
 'RDEATH2015',
 'RDOMESTICMIG2011',
 'RDOMESTICMIG2012',
 'RDOMESTICMIG2013',
 'RDOMESTICMIG2014',
 'RDOMESTICMIG2015',
 'REGION',
 'RESIDUAL2010',
 'RESIDUAL2011',
 'RESIDUAL2012',
 'RESIDUAL2013',
 'RESIDUAL2014',
 'RESIDUAL2015',
 'RINTERNATIONALMIG2011',
 'RINTERNATIONALMIG2012',
 'RINTERNATIONALMIG2013',
 'RINTERNATIONALMIG2014',
 'RINTERNATIONALMIG2015',
 'RNATURALINC2011',
 'RNATURALINC2012',
 'RNATURALINC2013',
 'RNATURALINC2014',
 'RNATURALINC2015',
 'RNETMIG2011',
 'RNETMIG2012',
 'RNETMIG2013',
 'RNETMIG2014',
 'RNETMIG2015',
 'STATE',
 'STNAME',
 'SUMLEV']

In [39]:
#'DepDeLay', 'DepartureDeLayGroups',

In [40]:
###1. What is the minum and maximum delay of airlines?

In [55]:
adf.loc[:, 'DepDelay'].max()

988.0

In [57]:
adf.groupby(['DepDelay', 'DepartureDelayGroups']).size()

DepDelay  DepartureDelayGroups
-23.0     -2.0                    1
-19.0     -2.0                    2
-18.0     -2.0                    1
-17.0     -2.0                    3
-16.0     -2.0                    6
                                 ..
 403.0     12.0                   1
 460.0     12.0                   1
 600.0     12.0                   1
 732.0     12.0                   1
 988.0     12.0                   1
Length: 224, dtype: int64

In [62]:
pd.pivot_table(adf,
               index= ['Year','Quarter'],
               values='DepDelay',
               aggfunc='count',
               columns='DepartureDelayGroups',
              )

DepartureDelayGroups  -2.0   -1.0    0.0    1.0    2.0    3.0    4.0    5.0   \
Year Quarter
1987 4                  NaN    7.0   35.0    7.0    1.0    2.0    NaN    NaN
1988 1                  NaN    9.0   42.0    6.0    NaN    2.0    1.0    1.0
     2                  NaN    8.0   41.0    6.0    3.0    1.0    NaN    1.0
     3                  NaN   14.0   49.0    1.0    1.0    NaN    NaN    NaN
     4                  NaN    7.0   46.0    6.0    3.0    NaN    1.0    1.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
2019 1                  NaN   52.0   19.0    6.0    1.0    4.0    NaN    1.0
     2                  1.0   57.0   20.0    9.0    5.0    3.0    3.0    2.0
     3                  NaN   44.0   17.0    3.0    5.0    1.0    2.0    2.0
     4                  NaN   49.0   25.0    7.0    5.0    1.0    1.0    NaN
2020 1                  NaN   50.0   16.0    2.0    3.0    1.0    2.0    1.0

DepartureDelayGroups   6.0    7.0    8.0    9.0    10.0   11.0   12.0
Year Quarter
1987 4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
1988 1                  1.0    1.0    NaN    NaN    NaN    NaN    NaN
     2                  NaN    NaN    NaN    NaN    1.0    1.0    NaN
     3                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
     4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                     ...    ...    ...    ...    ...    ...    ...
2019 1                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
     2                  1.0    1.0    1.0    NaN    1.0    NaN    NaN
     3                  1.0    NaN    NaN    NaN    NaN    NaN    2.0
     4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
2020 1                  NaN    NaN    NaN    1.0    NaN    NaN    NaN

[130 rows x 15 columns]